@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<br />
<h4>Your contact page.</h4>

<address>
    Pratik Demo DontnetCore with selinium and nunit tests<br />
    INDIA<br />
    <abbr title="Phone">Phone No:</abbr>
    9876543210
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


